<div class="myCard">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="height: auto">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Properties</h2>
            </div>

            <div class="mdl-card__supporting-text">
                <form id="propertiesForm" th:action="@{/admin/editProperties}" method="post" class="form-button">

                    <div id="properties">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" th:value="${properties.delay}" name="delay" type="text" id="delay">
                            <label class="mdl-textfield__label" for="delay">Delay</label>
                        </div>
                    </div>
                    <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Update Delay">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="dialog-button" type="button">Show Sync Info</button>
                </form>
                <form style="display: inline-block;" method="POST" action="/admin/syncAll" class="form-button">
                    <input id="syncAll" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" value="Sync All">
                </form>
            </div>
        </div>
    </div>
    <dialog id="dialog" class="mdl-dialog" style="width: fit-content">
        <h3 class="mdl-dialog__title">SYNC INFO</h3>
        <div class="mdl-dialog__content">
            <p>
                Last Successful Sync <i th:text="${success}"></i>
            </p>
            <p>
                Last Failed sync: <i th:text="${fail}"></i>
            </p>
            <p th:if="${hasFailed}">
                Fail info: <i th:text="${failInfo}"></i>
            </p>
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button">Close</button>
        </div>
    </dialog>
</main>