<div class="mdl-layout--large-screen-only mdl-layout__header-row">
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
    <h3>TelerikStudio Code Marketplace</h3>
</div>
<div class="mdl-layout--large-screen-only mdl-layout__header-row">
</div>
<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a th:href="@{/}" class="mdl-layout__tab is-active">Home</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="mdl-layout__tab">Logout</a>
    <a sec:authorize="isAnonymous()" th:href="@{/login}" class="mdl-layout__tab">Login</a>
    <a sec:authorize="isAnonymous()" th:href="@{/register}" class="mdl-layout__tab">Register</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/user/profile}" class="mdl-layout__tab">Profile</a>
    <a sec:authorize="hasRole('ADMIN')" href="javascript:void(0)" id="adminMenu" class="mdl-layout__tab">Admin</a>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="adminMenu">
        <li class="mdl-menu__item"><a href="/admin/unapproved" class="mdl-menu__item">Unapproved Extensions</a></li>
        <li class="mdl-menu__item"><a href="/extension/featuredSelection" class="mdl-menu__item">Featured Extensions</a></li>
        <li class="mdl-menu__item"><a href="/admin/users" class="mdl-menu__item">All Users</a></li>
        <li class="mdl-menu__item"><a href="/admin/properties" class="mdl-menu__item">Properties</a></li>
    </ul>
    <div class="search-area">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="searchField">
            <label class="mdl-textfield__label my-color" for="searchField">Search...</label>
        </div>
    </div>
    <a sec:authorize="isAuthenticated()" th:href="@{/extension/create}"
       class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
       id="add">
        <i class="material-icons" role="presentation">add</i>
        <span class="visuallyhidden">Add</span>
    </a>
</div>