
    <div id="stickyNav" class="nav clearfix">
        <a class="home-icon" href="#!">
            <img src="http://icons.iconarchive.com/icons/custom-icon-design/mono-general-3/512/home-icon.png">
        </a>
        <a id="logout" href="#">
            <img src="https://cdn4.iconfinder.com/data/icons/proglyphs-computers-and-development/512/Logout-512.png">
        </a>
        <a href="https://github.com/troqta/html-css-js-assignment" target="_blank">
            <img src="https://image.flaticon.com/icons/svg/25/25231.svg">
        </a>
    </div>
