
.search-area {
    display: inline-block;
    float: right;
    margin-right: 5px;
    width: 10%;
}

.myExtension {
    display: inline-block; /*TODO make it work !!!!!!!!!!!*/
    margin: 10px;
}
.searchOption{
    display: inline-block;
}
.my-color{
    color: rgba(255,255,255,.6);
}
.my-inline-block{
    display: inline-block;
}
.my-padding-right{
    padding-right: 5%;
}
.my-margin-users{
    margin: 0 5px;
}