<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments/head" th:with="pageTitle='TelerikStudio Code Marketplace'"></head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary" th:include="fragments/header"></header>

    <main th:include="${view}"></main>

    <footer th:include="fragments/footer" class="mdl-mega-footer" style="bottom:0;"></footer>
    <span th:include="fragments/scripts-bundle"></span>
</div>
</body>
</html>
