<main>
    <div>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <h1>TEST</h1>
        <div th:if="${error} != null" th:text="${error}"></div>
        <form id="loginForm" method="post">
            <label>Username
                <input id="loginUsername" type="text" name="username">
            </label>
            <label>Password
                <input id="loginPass" type="password" name="pass1">
            </label>
            <label for="remember">Keep me logged in</label>
            <input type="checkbox" name="remember" id="remember">
            <input id="loginSubmit" type="button" value="Login">
        </form>

        <div id="messageBox" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button" style="display:none"></button>
        </div>
    </div>
</main>