<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<form action="#" th:action="@{/register}"  th:object="${user}" method="POST" >
    <label for="username">Username</label>
    <input type="text" name="Username" id="username">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName">
    <label for="pass">Password</label>
    <input type="password" name="pass" id="pass">
    <label for="pass2">Repeat Password</label>
    <input type="password" name="pass2" id="pass2">
    <input type="submit" value="Register">
</form>
</body>
</html>