<main>
    <form id="createForm" action="/extension/create" method="POST" enctype="multipart/form-data">
        <label for="createName">Name</label>
        <input type="text" name="name" id="createName">
        <label for="createDescription">description</label>
        <input type="text" name="description" id="createDescription">
        <label for="createRepositoryUrl">repositoryUrl</label>
        <input type="url" name="repositoryUrl" id="createRepositoryUrl">
        <label for="createVersion">Version</label>
        <input type="text" name="version" id="createVersion">
        <label for="createTagString">Tags</label>
        <input type="text" name="tagString" id="createTagString">
        <label for="createFile">File</label>
        <input type="file" name="file" id="createFile">
        <label for="createPic">Picture</label>
        <input type="file" name="pic" id="createPic" onchange="checkExtension()" />
        <input id="createButton" type="button" value="Submit">
    </form>
    <div id="messageBox" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button" style="display:none"></button>
    </div>
</main>