<main>
    <form action="/extension/create" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="description">description</label>
        <input type="text" name="description" id="description">
        <label for="repositoryUrl">repositoryUrl</label>
        <input type="url" name="repositoryUrl" id="repositoryUrl">
        <label for="downloadLink">downloadLink</label>
        <input type="url" name="downloadLink" id="downloadLink">
        <input type="submit" value="Register">
    </form>
</main>