<main>
    <!--<form id="createForm" action="/extension/create" method="POST" enctype="multipart/form-data">-->
        <!--<label for="createName">Name</label>-->
        <!--<input type="text" name="name" id="createName">-->
        <!--<label for="createDescription">description</label>-->
        <!--<input type="text" name="description" id="createDescription">-->
        <!--<label for="createRepositoryUrl">repositoryUrl</label>-->
        <!--<input type="url" name="repositoryUrl" id="createRepositoryUrl">-->
        <!--<label for="createVersion">Version</label>-->
        <!--<input type="text" name="version" id="createVersion">-->
        <!--<label for="createTagString">Tags</label>-->
        <!--<input type="text" name="tagString" id="createTagString">-->
        <!--<label for="createFile">File</label>-->
        <!--<input type="file" name="file" id="createFile">-->
        <!--<label for="createPic">Picture</label>-->
        <!--<input type="file" name="pic" id="createPic" onchange="checkExtension()">-->
        <!--<input id="createButton" type="button" value="Submit">-->
    <!--</form>-->
    <div id="messageBox" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button" style="display:none"></button>
    </div>

    <div class="myCard">

        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="height: auto">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Create an extension</h2>
            </div>


            <div class="mdl-card__supporting-text">
                <form id="createForm" action="/extension/create" method="POST" enctype="multipart/form-data">

                    <div id="createExtensionInfo">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="name" id="createName">
                            <label class="mdl-textfield__label" for="createName">Name</label>
                        </div>

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" name="repositoryUrl" id="createRepositoryUrl">
                            <label class="mdl-textfield__label" for="createRepositoryUrl">Repo Url</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="version" id="createVersion">
                            <label class="mdl-textfield__label" for="createVersion">Version</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="tagString" id="createTagString">
                            <label class="mdl-textfield__label" for="createTagString">Tags</label>
                            <div class="mdl-tooltip" for="createTagString">
                                Split with a comma
                            </div>
                        </div>

                        <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                            <!--<input class="mdl-textfield__input" type="file" name="file" id="createFile">-->
                            <!--<label class="mdl-textfield__label" for="createFile">File</label>-->
                        <!--</div>-->
                        <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                            <!--<input class="mdl-textfield__input" type="file" name="pic" id="createPic" onchange="checkExtension()">-->
                            <!--<label class="mdl-textfield__label" for="createPic">Picture</label>-->
                        <!--</div>-->

                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                            <input class="mdl-textfield__input" placeholder="File" type="text"  id="createFile" readonly/>
                            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                <i class="material-icons">attach_file</i><input name="file" type="file" id="createFileBtn">
                            </div>
                    </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                            <input class="mdl-textfield__input" placeholder="Picture"  id="createPic" readonly/>
                            <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                                <i class="material-icons">image</i><input name="pic" type="file" id="createPicBtn" onchange="checkExtension()" >
                            </div>
                        </div>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield" style="width: 92%;">
                        <textarea class="mdl-textfield__input" type="text" name="description" rows= "4" id="createDescription" ></textarea>
                        <label class="mdl-textfield__label" for="createDescription">Description</label>
                    </div>
                    <!--<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">-->
                        <!--<input class="mdl-textfield__input" name="description" id="createDescription">-->
                        <!--<label class="mdl-textfield__label" for="createDescription">Description</label>-->
                    <!--</div>-->

                </form>
            </div>



        </div>

        <!-- FAB button with ripple -->
        <div id="next">
            <button  id="createButton" type="button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">arrow_forward</i>
            </button>
        </div>
    </div>
</main>