<main>
    <header>
        <h2 th:text="${extension.name}"></h2>
        <h2 th:text="${extension.description}"></h2>
        <h2 th:text="${extension.downloads}"></h2>
        <a th:href="@{/user/{id}(id=${extension.publisher.id})}">
            <h3 th:text="${extension.publisher.username}"></h3>
        </a>
        <h2 th:text="${extension.version}"></h2>
        <h2 th:text="${extension.addedOn}"></h2>
        <h2 th:text="${approved}"></h2>
        <h2 th:text="${extension.gitHubInfo.pullCount}"></h2>
        <h2 th:text="${extension.gitHubInfo.issuesCount}"></h2>
        <h2 th:text="${extension.gitHubInfo.lastCommit}"></h2>

        <form th:action="@{/extension/sync/{id} (id=${extension.id})}" method="POST">
            <button sec:authorize="hasRole('ADMIN')">Sync</button>
        </form>
        <th:block sec:authorize="isAuthenticated()"
                  th:if="${user.isAdmin() OR user.isPublisher(extension)}">
            <a th:href="@{/extension/delete/{id}(id = ${extension.id})}">Delete</a>
        </th:block>
        <form th:action="@{/extension/approve/{id} (id=${extension.id})}" method="POST">
            <th:block th:if="${extension.isUnApproved()}">
                <button sec:authorize="hasRole('ADMIN')">Approve</button>
            </th:block>
        </form>
    </header>
</main>